/*
 * Primitives adapted form NextUI.
 * https://www.figma.com/design/MBFftXCnGZXmbYlt9SiegK/NextUI-Figma-Kit-(Community)-(Community)?node-id=5-1194
 */
:root {
  font-family: Inter, sans-serif;
  line-height: 150%;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}
*::before, *::after {
  background-repeat: no-repeat;
  background-position: center;
}

body {
  height: 100vh;
  height: 100dvh;
}

.header {
  width: 100%;
  padding: 2rem 48px;
  background-color: #002E62;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.header h1 {
  margin-right: auto;
  color: #F4F4F5;
}
.header button.settings::before {
  background-image: url("../images/essential/menu.svg");
  content: "";
}
.header button.logout::before {
  background-image: url("../images/arrows/logout.svg");
  content: "";
}

#main {
  padding: 1.5rem 48px;
  height: calc(100% - 88px);
}

.pageContent {
  min-height: calc(100% - 92px);
}

@media (max-width: 768px) {
  #tabNav {
    margin-bottom: 0.75rem;
  }
}

#mobileSelects {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
@media (max-width: 376px) {
  #mobileSelects {
    grid-template-columns: 1fr;
  }
}

#statPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#statPage table th {
  text-align: left;
}
@media (max-width: 1024px) {
  #statPage {
    grid-template-columns: 1fr;
  }
}

.d-none {
  display: none;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.p-datatable button.view::before {
  content: "";
  background-image: url("../images/essential/more-circle.svg");
}
.p-datatable td .chip {
  vertical-align: bottom;
}
.p-datatable td .chip.score {
  min-width: 1.5rem;
}

#editModal-content > .inputWrapper {
  border-bottom: 1px solid var(--divider);
  padding-bottom: 1rem;
  margin-bottom: -0.5rem;
  margin-top: 0;
}
#editModal-content form .inputSplit {
  margin-top: 1.5rem;
}
#editModal-content form .inputSplit .inputWrapper {
  margin-top: 0;
}
#editModal-content.editing #editForm > .inputWrapper:first-of-type {
  margin-top: 0;
}

#settingsForm > div > fieldset:not(:last-of-type) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--default-500);
  margin-bottom: 1rem;
}
#settingsForm .inputWrapper.inline label {
  flex-grow: 1;
  flex-shrink: 0;
}
#settingsForm .inputWrapper.required label::after {
  display: none;
}
#settingsForm #generic-pane > .inputWrapper {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--default-500);
  margin-bottom: 1rem;
}
#settingsForm #table-pane div[role=tabpanel] fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

#viewEntryModal {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  align-items: stretch;
}
#viewEntryModal > div {
  display: contents;
}
#viewEntryModal > div > span {
  width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}
#viewEntryModal > div > span:first-child {
  padding-left: 0.5rem;
}
#viewEntryModal > div > span .chip {
  margin-left: 0.5rem;
}
#viewEntryModal > div:nth-child(odd) > span {
  background-color: var(--default);
}
#viewEntryModal > div:nth-child(odd) > span:first-of-type {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
#viewEntryModal > div:nth-child(odd) > span:last-of-type {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
