@import "variables";

//Core basics
:root {
  font-family: Inter, sans-serif;
  line-height: 150%;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}

//document
body {
  height: 100vh;
  height: 100dvh;
}

//App header
.header {
  width: 100%;
  padding: $unit-8 $unit-12;
  background-color: #002E62;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #F4F4F5;
  }
}

//Body
#main {
  padding: $unit-6 $unit-12;
  height: calc(100% - 88px);
}

.pageContent {
  min-height: calc( 100% - 92px );
}

.d-none {
  display: none;
}

//Edit entry form
.p-datatable button.editRow::before {
  content: "";
  background-image: url("../images/content/edit-2.svg");
}
#editModal-content {
  > .inputWrapper {
    border-bottom: 1px solid var(--divider);
    padding-bottom: $unit-4;
    margin-bottom: -$unit-2;
    margin-top: 0;
  }
  form {
    .inputSplit {
      margin-top: $unit-6;
      .inputWrapper {
        margin-top: 0;
      }
    }
  }
}

//Settings modal
#settingsForm {
  > div > fieldset:not(:last-of-type) {
    padding-bottom: $unit-6;
    border-bottom: 1px solid var(--default-500);
    margin-bottom: $unit-4;
  }
  .inputWrapper.inline label {
    flex-grow: 1;
    flex-shrink: 0;
  }
}